h1 {
  color: rgb(113, 46, 189);
  font-size: 70px;
  text-align: center;
}
h2 {
  text-align: center;
}

@media only screen and (max-width: 600px) {
  h1 {
    color: rgb(113, 46, 189);
    font-size: 25px;
  }

  h2 {
    font-size: 15px;
    text-align: center;
  }
}
